<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="GHLCP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <GHLCP.Properties.Settings>
            <setting name="initialDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="pastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="rpcs3Exe" serializeAs="String">
                <value />
            </setting>
            <setting name="importVideo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="importParent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pastFtpUri" serializeAs="String">
                <value />
            </setting>
            <setting name="pastFtpUsername" serializeAs="String">
                <value />
            </setting>
        </GHLCP.Properties.Settings>
    </userSettings>
</configuration>
